footer {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  height: 1.5rem;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  z-index: 3;
}
#footerspace {
  height: 100%;
  width: var(--basewidth);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#footertext {
  color: white;
  font-family: "Limelight", sans-serif;
  margin-right: 2rem;
}
