.dishicon {
  flex: 0 0 auto;
  height: 5.5rem;
  width: 7.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.dishicon img {
  height: 200%;
  width: auto;
  border-radius: 0.25rem;
  opacity: 0.7;
}
.dishicon > p {
  padding: 0 0.25rem;
  margin: 0;
  width: 90%;
  height: 100%;
  position: absolute;
}
.iconName,
.poista {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
}
.iconName {
  position: absolute;
  top: 0.1rem;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.25rem;
  width: 90%;
  border-radius: 0.2rem;
  z-index: 3;
}
.poista {
  display: none;
  position: absolute;
  bottom: 0.25rem;
  left: 0.15rem;
  font-weight: 800;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.dishicon:hover .poista {
  display: block;
}
.dishicon:hover {
  transform: scale(0.95);
}
.dishicon:active {
  transform: scale(0.9);
}
