#controls {
  display: flex;
  gap: 1rem;
}
#dishesicons {
  height: 5rem;
  flex: 3;
  background-color: var(--white2);
  border-radius: 0.5rem;
  height: 2000px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: flex-start;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}
